@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
  --ark-red: #e31e24;
  --ark-black: #111111;
  --ark-grey: #e0e0e0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ark-red: var(--ark-red);
  --color-ark-black: var(--ark-black);
  --color-ark-grey: var(--ark-grey);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
